//creates reusable mixin code
@mixin warning {
  background-color: orange;
  color: white;
}
@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}
@mixin rounded ($radius){
  border-radius: $radius;
}
// mixin within a mixin
@mixin box ($radius, $border){
  @include rounded(10);
  border: $border;
}
// used ad the base of the file, above the body tag
@mixin fancy-links {
  a{
    font-style: italic;
    text-decoration: none;
  }

}
