// moved variables from main to variables, to practice partials

// ---COLORS---
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f37731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

// ---FONTS---
$text-font: verdana, Arial, sans-serif;
$headline-font: 'Palatino Linotype', Georgia, serif;

// ---DIMENSIONS---
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
